body {
  background-color: cornflowerblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.loadable-container {
  height: initial !important;
  position: initial !important;
  width: initial !important;
}

#app-root {
  padding: 30px;
}
