.cv-section {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px 20px;
}

.cv-subsection:not(:last-child) {
  border-bottom: solid 1px gainsboro;
}

#hobbies-section #preferences-subsection .preference-container {
  display: flex;

  .preference-col {
    flex: 1;
  }
}
