.search {
  background-color: darkcyan;
  border: solid darkgreen;
  border-radius: 10px;
  padding: 15px;
  text-align: center;

  input {
    border: 0;
    border-radius: 4px;
    margin: 0 10px;
    padding: 10px;
  }

  button {
    background-color: cornflowerblue;
    border: 0;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 10px;
  }
}

.greeting {
  font-size: 32px;
  text-align: center;
}

.unregistered {
  background-color: darkcyan;
  border: solid darkgreen;
  border-radius: 10px;
  font-weight: bold;
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  width: 60%;

  button {
    background-color: cornflowerblue;
    border: 0;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 10px;
  }
}
