.contact-container {
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;

  img {
    border-radius: 5px;
    height: 100px;
    width: 100px;
  }

  p {
    margin: 5px 0;
  }
}
